@import 'tailwindcss';
@import 'tw-animate-css';
@import 'dockview/dist/styles/dockview.css';
@import '../../../packages/shared/src/shared/styles/dockview-overrides.css';
@import '../../platform/src/styles/theme.css';
@import '../../../packages/shared/src/shared/styles/themes.css';
@import '../../../packages/shared/src/shared/styles/contexts.css';
@import '../../../packages/shared/src/shared/styles/graph.css';
@import '../../../packages/shared/src/shared/styles/scrollbar.css';

@custom-variant dark (&:is(.dark *));

@source "../**/*.{ts,tsx,jsx,mdx}";
@source "../../../packages/ui/src/**/*.{ts,tsx,jsx,mdx}";
@source "../../../packages/shared/src/**/*.{ts,tsx,jsx,mdx}";

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
